/*Media Query And Responsive */
@media only screen and (max-width: 1000px){
    .head{
        height: 15vh;
    }
  .head-one{
    margin-left: 60px;
    margin-right: 10px;
  }
  .head-two{
    justify-content: left;
    margin-right: 80px;
    margin-left: 10px;
  }

  #main-section{
    display: block;
  }
  .left{
    height:auto;
  }
.left-album-pic{
    width: 100%;
    height: 800px;
    margin: auto;
}
.album-pic{ 
    margin: auto;
    margin-left: 40px;
}
.latest-release{
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* background-color: red; */
    
}
h2{
    text-align: center;
    font-size: 30px;
}
.text{
    display: none;
}
.latest-song-img{
    width: 200px;
    height: 200px;
}
.latest-song-img img{
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: 10px;
}
.dropdown{
    display: none;
}
.station, .rotate{
    display: none;
}
.after-po-ar{
    height: auto;
}
.new-album{
    display: block;
    width: 930px;
    height: 330px;
    margin-top: 30px;
}
.letest-eng{
    height: 400px;
}
.right{
    width: 100%;
    height: 100vh;
    overflow-y: none;
}


}



@media only screen and (max-width: 600px){
    .emoji, .fav, .notification, .search-bar{
        display: none;
    }
    .left{
        max-width: 500px;
        background-color: brown;
    }
}
  