body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y:scroll;
}

/* header part (Navigation Part) */

#header-side{
   height: 10vh;
 }  

.head{
   width: 100%;
   height: 10vh;
   background-color:rgb(12,12,70);
   position: fixed;
   display: flex;
   justify-content: space-between; 

}
.head-one{
   width: 30%;
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  align-items: center;

}
.head-two{
   width: 40%;
   display: flex;
   justify-content: space-between;
   margin-right: 40px;
   align-items: center;
}
.title{
   display: flex;
   margin: 15px;
}
.emoji{
   width: 50px;
   height: 50px;
   background-color: rgb(255, 255, 255);
   border: 5px solid black;
   border-radius: 50%;
   background-image: url(pic/emoji.jpeg);
   background-size: contain;

}
.fname{
   font-size: 30px;
   color: white;
}
.lname{
   font-size: 30px;
   color: white;
   font-weight: bold;
   position: relative;
   right: 45%;
   top: 25px;
   overflow: hidden;
}
.fav{
   color: white;
   font-size: 20px;
   font-weight: bold;
}
.search-bar{
   width: 300px;
   height: 30px;
   color: aliceblue;
   background-color: #043062;
   margin-left: 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 10px;
}
.search-icon{
   margin-left: 10px;
}
.input-search{
   width:98%;
   background-color: #043062;
   border:0px;
   outline: none;;
   }

.microphone-icon{
   margin-right: 10px;
}

.notification{
   font-size: 25px;
}
.dp{
   width: 50px;
   height: 50px;
   border-radius: 50%;
}
i{
   color: white;
}
/* End of header part */


/*  main section */

#main-section{
  width: 100%;
  height: auto;
  background-color:  rgb(12,12,70);
  display: flex;
 
  
}

/*main-left*/

/* main part (left-side) and aside part(right-side) */
.left {
    width: 65%;
    height: 100vh;
    overflow-y: scroll;
    display: inline-block;
    padding: 25px 0 0 50px;
}

.left::-webkit-scrollbar {
    display: none;
}

.right {
    width: 28%;
    display: inline-block;
    height: 100vh;
    padding: 2%;
    overflow-y: scroll;
}

/* start left side (main-section ) */

/* Three pic section start here */

.left-album-pic{
    width: 100%;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
}
.album-pic{
width:250px;
height: 245px;
margin: 10px;
border-radius: 5px;

}
.album-pic:hover{
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform:scale(1.150)
    
    }
/*End of three pic section*/

/* Start of latest release*/

 .latest-release{
    width: 100%;
    height: 225px;
    display: flex;
    flex-wrap: wrap;
    
}
.latest-release-box{
    width: 47%;
    height: 90px;
    margin: 10px;
    display: flex;
}
.latest-song-img img{
    width: 100px;
    height: 100px;
}
.text{
    display: flex;
    color: white;
    margin-top: 1.5rem;
    justify-content: space-between;
    width: 120px;
    line-height: 1.8;
    margin-left: 15px;
    font-size: Roboto;
    font-size: 16px;
    height: 60px; 
    font-weight: bold;
}

 /* start of dropdown menu */

.dropdown {
    height: 40px;
    width: 40px;
    margin-left: 0.5rem;
  }
.dropdown-menu {
    background-color: white;
    font-family: sans-serif;
    color: #4b5c5e;
    position: relative;
    z-index: 1;
    padding: 1rem;
    display: none;
  }
  .dropdown-list {
    display: none;
    margin-bottom: 1rem;
  }
  .dropdown-list a {
    text-decoration: none;
    color: #4b5c5e;
  }
  .dropdown:hover .dropdown-menu {
    height: 120px;
    width: 150px;
    display: block;
    background-color: pink;
  }
  .dropdown:hover .dropdown-list {
    display: block;
  }
  .dropdown:hover p {
    display: none;
  }
  .ico{
    color: black;
  }
  /* End of dropdown menu*/
  /* End of latest realese */


/*Start of Popular Artist*/

#singer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .singer-box {
    height: 7rem;
    width: 7rem;
    margin-bottom: 1rem;
  }
  .singer-box p {
    color: white;
    margin-top: 0.3rem;
    font-size: medium;
    text-align: center;
  }
  .singer {
    height: 6rem;
    width: 6rem;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    text-align: center;
  }
  
  #singer-1 {
    background-image: url(pic/Arijit_singh.jpeg);
  }
  #singer-2 {
    background-image: url(pic/pawan.jpeg);
  }
  #singer-3 {
    background-image: url(pic/Guru.jpeg);
  }
  #singer-4 {
    background-image: url(pic/Khesari.jpeg);
  }
  #singer-5 {
    background-image: url(pic/sonu_Nigam.jpeg);
  }
  #singer-6 {
    background-image: url(pic/badshah.jpeg);
  }
  /* singer play button */
  .singer-logo a {
    color: var(--font_color_1);
  }
  .singer-logo {
    position: absolute;
    margin-left: 2.5rem;
    font-size: 1.5rem;
    margin-top: 2.4rem;
  }
  .singer:hover {
    box-shadow: 0px 0px 9px 5px rgba(187, 183, 183, 0.2);
    opacity: 0.8;
  }
  .singer:hover > .hide {
    display: block;
  }
  .singer-box p{
    color: white;
    font-weight: bold;
  }

/*End of Popular Artist*/

/* start  After popular-artist*/
.after-po-ar{
    width: 98%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.rotate{
    width: 100px;
    height: 100px;
    border: 1px solid yellow;
    background-color: yellow;
}
/* .rotate2{
    width: 100px;
    height: 80px;
    border: 1px solid rgb(225, 14, 141);
    background-color: rgb(218, 26, 58);
} */
.station{
    width: 100px;
    height: 100px;

}
.circle{
    width: 100px;
    height: 100px;
    border:1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.circle-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/*End of after Popular artist*/

/* start of three pic album */
.new-album{
    width: 98%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.new-album-box{
    height: 100px;
    width:33%;
    background-color: red;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-album-pic{
    height: 110px;
    width: 100%;
}
.new-album-pic:hover{
     -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform:scale(1.099) 
    
}
/* End of three pic album */

/* Start of Hindi and English songs section*/
.letest-eng{
    width: 96%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.latest-eng-box{
     height: 98px;
     width:98px; 
    margin: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.songs-pic{
    height: 98px;
    width:98px;
}
figcaption{
    color: white;
    margin-left: 15px;
    font-weight: bold;
}
/* End of Hindi and English songs section*/

/* right Side*/

/* Start of Remaining Part of Right(aside) side*/


.right-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -35px;

}
.right-head h3{
    margin-right:-145px;
    color: cyan;

}
select{
    width:15px;
    height: 15px;
    margin-right: 15px;
    border: 0px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 0.7rem;
}

.select:focus {
    width: 7rem;
    font-size: 0.9rem;
    padding-left: 2.7rem;
    margin-top: 5px;
  }
  
   select > option {
    width: 6rem;
    background-color: rgb(169, 164, 164);
    color: #201e1e;
  }


.right-main-box{
    height: 60px;
    width: 94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin-top: 1px;
}
.right-serial-num{
    width: 5%;
    color: grey;
    font-weight: bold;
}
.right-box-pic{
    width: 10%;
}
.right-box-text{
    width: auto;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.right-box-icon{
    width: 5%;
}


 .ls-second-box{
    width: 98%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    position: relative;

} 

.heart{
    padding-right: 35px;
}
.heart:hover{
 color: red;
 cursor: pointer;
}
/* End OF right side */

/* universal h2 color*/
 h2{
    color: white;
}
/* Footer section start*/

#footer {
    background-color: black;
    height: 0px;
    width: 0px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0s ease-in-out;
    display: flex;
    
}


   #footer:target{  
 
    width: 90%;
    height: 70px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:rgb(27, 26, 26);
    background-color:purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
     top: 88.7%;
     left:6%;

} 
.close{
    width: 35px;
    height: 35px;
    /* background-color:black; */
    color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 62%;
    left: 97.5%;
    overflow:visible;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}


.footer-song-img img{
    width:40px;
    height: 40px;

}
.footer-box{
    width: 30%;
    height: 58px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: blueviolet;
}
.music-player{
    width: 40%;
    height: 58px;
    background-color: blueviolet;
    position: relative;

}
.music-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top:15px;
}
.progress-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
 
}

.songs-duration{
    width: 300px;
}

.side-bar{
    width: 30%;
    height: 58px;
    background-color: blueviolet;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;

}
.side-bar div{
    padding: 5px;
}



