body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y:scroll;
   background-color: #112a46;
}
  /* navigation bar header */

#header-side{
   height: 10vh;
 }  

.head{
   width: 100%;
   height: 10vh;
   background-color:rgb(12,12,70);
   position: fixed;
   display: flex;
   justify-content: space-between; 

}
.head-one{
   width: 30%;
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  align-items: center;

}
.head-two{
   width: 40%;
   display: flex;
   justify-content: space-between;
   margin-right: 40px;
   align-items: center;
}
.title{
   display: flex;
   margin: 15px;
}
.emoji{
   width: 50px;
   height: 50px;
   background-color: rgb(255, 255, 255);
   border: 5px solid black;
   border-radius: 50%;
   background-image: url(../pic/emoji.jpeg);
   background-size: contain;

}
.fname{
   font-size: 30px;
   color: white;
}
.lname{
   font-size: 30px;
   color: white;
   font-weight: bold;
   position: relative;
   right: 45%;
   top: 25px;
   overflow: hidden;
}
.fav{
   color: white;
   font-size: 20px;
   font-weight: bold;
}
.search-bar{
   width: 300px;
   height: 30px;
   color: aliceblue;
   background-color: #043062;
   margin-left: 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 10px;
}
.search-icon{
   margin-left: 10px;
}
.input-search{
   width:98%;
   background-color: #043062;
   border:0px;
   outline: none;;
   }

.microphone-icon{
   margin-right: 10px;
}

.notification{
   font-size: 25px;
}

i{
   color: white;
}

.dp img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bar-icon{
    display: none;
}


/* Main Part or Second Part */
.main-part{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(12,12,70); 
}

/* left side and right side */

.left-side{
    width:65%;
    height: 82vh;
    padding:30px 0 0 150px;
    overflow-y: scroll;
    color: white;
    display: flex;
    flex-direction: column;

}

.left-side::-webkit-scrollbar {
    display: none;
}

.right-side {
    width: 30%;
    background-color:rgb(12,12,70);
    display: inline-block;
    height: 100vh;
    padding: 2%;
    overflow-y: scroll;
    left:65%
}

/* portion of left-side (main side) */

 .ls-first{
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 300px;
    background-color:rgb(12,12,70);
    box-shadow: 1px 1px 30px black;  
}

.pic{
    height: 300px;
    padding-right: 25px;
}
.ls-first-para{
    padding:0 05px 0 0;
}
.ls-first-header{
    display: flex;
    justify-content: space-between;
}
.p-clr{
    color: darkgray;
    position: relative;
    top:-10%;
}
.btn{
    position: absolute;
    display: flex;
    bottom: 45%;
    right: 40%;

}
.btn-p{
    position: absolute;
    top:120%;
}
button{
    width:150px;
    padding: 10px;
    color:black;
    border: 0px;
    font-size: 17px;
    font-weight: bold;
}
button:hover{
    font: bold;
    background-color:rgb(162, 88, 197); 
    cursor: pointer;
    border-radius: 5px;
}
/*  End of left-side (main side) */

/*  left side (main- side) second part */


.ls-second-box{
    width: 98%;
    height: 50px;
    box-shadow: 1px 1px 30px black;
    margin-top: 15px;
    display: flex;
    align-items: center;
    position: relative;
    background-color:#043062;

}

.ls-s-box-left{
    width: 49%;
    display: flex;
    align-items: center;
    margin: 15px;
}
.ls-s-box-left img{
    position: relative;
    width:45px;
    height: 45px;
    left: 29%;
    bottom:20%;
}
.fn{
    font-size: 20px;
    color: white;
    position: relative;
    left: 30%;
    bottom:10px;
    font-weight: bold;
}
.ln{
    font-size: 18px;
    color: white;
    font-weight: bold;
    position: relative;
    right: 30%;
    top: 10px;
    color: darkgray;
}
.ls-s-box-right{
    width: 49%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.heart{
    padding-right: 35px;

}

/*  End of left side (main- side) second part */

/*  Remaining Part of Right Side  */
.rs-first-box{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}

.right-first{
    width: 98%;
    height: auto;
    padding-top:5px;
    
}
.rs-first-header{
    display: flex;
    justify-content: space-between;
}
.rs-first-header h1{
    color:white
}
.rs-first-box{
    width: 98%;
    height: 95px;
    background-color:#043062;
    box-shadow: 1px 1px 30px black;
    margin-top: 15px;

}
.right-second{
    width: 98%;
    height: auto;
    padding-top:5px;   
}

.rs-second-header{
    display: flex;
    justify-content: space-between;
}
.rs-second-header h1,h6{
    color:white;
}

.rs-second-box{
    width: 98%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    background-color: #043062;

}

.rs-s-box-left{
    width: 49%;
    display: flex;
    align-items: center;
    margin: 15px;
}
.rs-s-box-left img{
    position: relative;
    width:45px;
    height: 45px;
    left: 29%;
    bottom:20%;
}
.rs-fn{
    font-size: 20px;
    color: white;
    position: relative;
    left: 30%;
    font-weight: bold;
}

.rs-s-box-right{
    width: 49%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 25px;
}
.heart:hover{
    color: red;

}
/*  Remaining Part of Right Side  */

/* footer start */

#footer {
    background-color: black;
    height: 0px;
    width: 0px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0s ease-in-out;
    display: flex;
    
}


   #footer:target{  
 
    width: 90%;
    height: 70px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:rgb(27, 26, 26);
    background-color:purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
     top: 88.7%;
     left:6%;

} 
.close{
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 62%;
    left: 97.5%;
    overflow:visible;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.footer-song-img img{
    width:40px;
    height: 40px;

}
.footer-box{
    width: 30%;
    height: 58px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: blueviolet;
}
.music-player{
    width: 40%;
    height: 58px;
    background-color: blueviolet;
    position: relative;

}
.music-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top:15px;
}
.progress-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.songs-duration{
    width: 300px;
}

.side-bar{
    width: 30%;
    height: 58px;
    background-color: blueviolet;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;

}
.side-bar div{
    padding: 5px;
}

/* End of footer */

/*MediaQuery (Responsive) Start*/
@media screen and (max-width: 600px){
    #header-side{
        height: 10vh;
      }  
     
     
     .fav,title, .microphone-icon, .notification, .input-search, .search-icon, .search-bar, .dp, .btn-p{
       display: none;
     }

     .head{
        width: 100%;
        height: 12vh;
        background-color:rgb(221, 20, 53);
        display: flex;
        justify-content: space-between; 
        align-items: center;
     
     }
     .title{
        text-align:center ;
     }
     .bar-icon{
        display: block;
        font-size: 25px;
        /* margin-right: -50px; */
     }
   .main-part{
    width: 100%;
    height: auto;
    display: inline;
   }
   .left-side{
    width:100%;
    height: 82vh;
    padding:auto;
    overflow-y: scroll;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.ls-first{
        width: 98%;
        height: auto;
        background-color: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: none;
}
   .ls-first-image{
    width: 100%;
    height: auto;
    margin: auto;
    
    
   }
   .btn{
    margin: auto;
   }

   .ls-first-para{
    display: none;
   }
     
}


